* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12px;
  border: 2px solid rgb(29, 156, 241);
  min-height: 80vh;
  height: 100%;
}

.menu {
  position: relative;
  top: 40px;
  left: 40px;
  font-size: 40px;
}
